    .dashboard-main-table {
        margin-top: 40px;
        width: 1300px;
    }

    .dashboard-table-header,
    .dashboard-table-row {
        display: grid;
        grid-template-columns: 5% 24% 18% 25% 18% 10%;
        align-items: center;
    }

    .dashboard-table-header {
        margin-bottom: 10px;
    }

    .dashboard-table-row {
        background-color: #fff;
        height: 85px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .dashboard-header-text {
        font-weight: 500;
        font-size: 16px;
        color: white;
        margin: 0 8px;
    }

    .dashboard-cell {
        margin: 0 10px;
    }


    .gradient-circle {
        width: 24px;
        height: 24px;
        min-width: 24px;
        /* 🔒 isso é o mais importante */
        min-height: 24px;
        border-radius: 50%;
        flex-shrink: 0;
        /* 🔒 impede o flex de achatar */
    }


    .gray-gradient-circle {
        background: linear-gradient(135deg, #D9D9D9, #9E9E9E);
    }

    .red-gradient-circle {
        background: linear-gradient(135deg, #FFB3B3, #E53935);
    }

    .green-gradient-circle {
        background: linear-gradient(135deg, #B9F6CA, #2E7D32);
    }

    .yellow-gradient-circle {
        background: linear-gradient(135deg, #FFF3B0, #F9A825);
    }

    .dashboard-actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .dashboard-actions img {
        cursor: pointer;
    }

    .monitoring .dashboard-main-text {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.1;
    }

    .monitoring .dashboard-sub-text {
        font-size: 11px;
        line-height: 1.1;
    }

    .monitoring {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        max-width: 100%;
    }