    .dashboard-main-table {
        margin-top: 40px;
        width: 1300px;
    }

    .dashboard-table-header,
    .dashboard-table-row {
        display: grid;
        grid-template-columns: 5% 24% 18% 25% 18% 10%;
        align-items: center;
    }

    .dashboard-table-header {
        margin-bottom: 10px;
    }

    .dashboard-table-row {
        background-color: #fff;
        height: 85px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .dashboard-header-text {
        font-weight: 500;
        font-size: 16px;
        color: #01264F;
        margin: 0 8px;
    }

    .dashboard-cell {
        margin: 0 10px;
    }


    .gray-gradient-circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: linear-gradient(135deg, #D9D9D9, #9E9E9E);
    }

    .dashboard-actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .dashboard-actions img {
        cursor: pointer;
    }

    .monitoring {
        display: flex;
        align-items: center;
    }

    .monitoring p {
        margin-left: 5px;
    }