.standard-container {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

.standard-container-title {
    color: #211748;
    font-size: 20px;
    font-weight: 600;
}

.standard-container-sub-title {
    color: #211748;
    font-size: 16px;
    font-weight: 600;
}

.sub-text {
    font-size: 14px;
    font-weight: 400;
    color: #211748;
}

.form-section-title {
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-top: 40px;
    margin-bottom: 5px;
}

.form-section-divider {
    border: none;
    border-top: 2px solid white;
}

.form-select {
    background-color: #69549F;
    color: white;
    border-radius: 5px;
    width: 100%;
}

.form-select option {
    background-color: white;
    color: #69549F;
}

.form-select option:checked,
.form-select option:focus,
.form-select option:selected {
    background-color: #69549F;
    color: white;
}

.form-label {
    color: #211748;
    font-weight: 600;
    font-size: 14px;
}

.form-text-field {
    border-radius: 5px;
    border: 1px solid #211748;
}

.form-search-text-field {
    background-image: url('/assets/images/search.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px 16px;
    padding-left: 36px;
}

.form-date-text {
    color: #211748;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
}