.operation-form-container-title {
    font-size: 24px;
    font-weight: 600;
    color: #01264F;
    margin-top: 40px;
    margin-bottom: 5px;
}

.operation-form-divider {
    border: none;
    border-top: 2px solid #01264F;
}

.operation-form-item-title {
    color: #01264F;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
}

.operation-form-date-text {
    color: #01264F;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
}

.operation-form-item-value {
    margin-top: 10px;
    margin-bottom: 10px;
}

.operation-form-label {
    color: #01264F;
    font-weight: 600;
    font-size: 14px;
}

.operation-form-text-field {
    border-radius: 5px;
    border: 1px solid #01264F;
}

.operation-form-select {
    background-color: #003DB5;
    color: white;
    border-radius: 5px;
    width: 100%;
}